<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search</title>
    </head>
    <body>
        <div data-controller="search" class="w-full border-2 border-zinc-100 bg-zinc-50 py-5 px-8 rounded-xl shadow-sm">
            <%= render "search_bar" %>
            
            <div data-search-target="productGrid" class="grid grid-cols-4 gap-10 py-8 mx-auto">
                
            </div>
        <div>
    </body>
</html>
